<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cari Mandor</title>
  </head>
  <body>
    <h1>Edit Profile User Page</h1>

    <form action="/userpage/edit-user-result/<%= id %>" method="POST">
      <%= id %>
      <label>Name :</label>
      <input type="text" name="name" />
      <br /><br />

      <label>password :</label>
      <input type="password" name="password" />
      <br /><br />

      <label>Email :</label>
      <input type="text" name="email" />
      <br /><br />

      <label>Phone Number :</label>
      <input type="text" name="phoneNumber" />
      <br /><br />

      <label>Address :</label>
      <input type="text" name="address" />
      <br /><br />

      <label>Role :</label>
      <select name="role">
        <option value="customer">Customer</option>
        <option value="seller">Seller</option>
      </select>
      <br /><br />

      <input type="submit" value="update profile" />
    </form>
  </body>
</html>
